@{
    ViewData["Title"] = "Application Request";
    // var items = (List<ApplicantViewModel>)ViewBag.items;
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<!-- Info Cards -->
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-primary shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_for_approval"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Submitted</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-layers font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->

                <a href="#" id="dash_link_for_approval" data-val="" class="stretched-link"></a>
            </div>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-success shadow zoom">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_total_approved"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Approved</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-thumbs-up font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->
            </div>
            <a href="#" id="dash_link_approved" data-val="2" class="stretched-link"></a>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="widget-rounded-circle card bg-danger shadow zoom">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-white mt-2" id="info_total_disapproved"><span data-plugin="counterup">0</span></h2>
                        <p class="text-white mb-0 text-truncate">Disapproved</p>
                    </div>
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-light ms-auto">
                            <i class="fe-thumbs-down font-24 avatar-title text-white"></i>
                        </div>
                    </div>
                </div> <!-- end row-->
            </div>
            <a href="#" id="dash_link_disapproved" data-val="3" class="stretched-link"></a>
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->
</div>

<div class="card card-outline rounded-4">
    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">

        <div class="row gy-2">
            <div class="row">
                <div class="col-md-8 mb-2 align-items-md-center">
                    <button class="btn btn-light btn-sm waves-effect" id="btn_add" hidden><span class="mdi mdi-plus"></span> Add</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_edit" disabled><span class="mdi mdi-square-edit-outline"></span> Edit</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_view" disabled><span class="mdi mdi-alert-circle-outline"></span> View Application</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_generate_pdf" disabled><span class="mdi mdi-file-pdf-outline"></span> View HLAF</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_upload_document" disabled><span class="mdi mdi-file-upload-outline"></span> Upload Requirements</button>
                    <button class="btn btn-light btn-sm waves-effect" id="btn_refresh" bound="tbl_applicants"><span class="mdi mdi-refresh"></span> Refresh</button>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="input-group float-end" style="width:250px;">
                        <input bound="tbl_applicants" type="search" class="form-control form-control-sm" placeholder="Search..." />
                        <span class="input-group-text"><i class="mdi mdi-magnify"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-sm table-bordered nowrap w-100" id="tbl_applicants">
                    <thead class="table-light">
                        <tr>
                            <th>Reference no.</th>
                            <th>Borrower</th>
                            <th>Pag-IBIG MID no./RTN</th>
                            <th>Housing Account Number</th>
                            <th>Income Amount</th>
                            <th>Developer</th>
                            <th>Project location</th>
                            <th>Unit</th>
                            <th>Loan amount</th>
                            <th>Date applied</th>
                            <th>Stage</th>
                            <th>Status</th>
                            <th>Last updated</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<div class="row gy-4" hidden>
    <div class="col-xl-6">
        <div class="input-group float-start" style="width:350px;">
            <input bound="tbl_module" type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-text"><i class="mdi mdi-magnify"></i></span>
        </div>
    </div>
    <div class="col-xl-6">
        @*         <a type="button" asp-controller="Applicants" asp-action="HLF068" class="btn btn-light float-end waves-effect waves-light">
        <i class="fas fa-user-plus me-1"></i>
        Add Beneficiary
        </a> *@
    </div>
    <div class="col-xl-12">
        <div class="row application-container">
            @*   @foreach (var item in items)
            {
            <div class="col-xxl-4">
            <div class="card rounded-4 beneficiary-card">
            <div class="card-header rounded-4 rounded-bottom">
            <div class="row align-items-center">
            <div class="col">
            <h6 class="m-0 font-16 fw-semibold">
            Application @(item.ApplicantsPersonalInformationModel?.Code ?? "")
            </h6>
            </div>
            <div class="col-auto">
            @{
            var validationIds = new[] { item.LoanParticularsInformationModel?.Id ?? 0, item.CollateralInformationModel?.Id ?? 0, item.BarrowersInformationModel?.Id ?? 0, item.SpouseModel?.Id ?? 0 };
            if (validationIds.Any(x => x == 0))
            {
            <span class="badge text-bg-danger rounded-4 px-3 py-1 font-16">Incomplete Details!</span>
            }
            else
            {
            <span class="badge text-bg-warning rounded-4 px-3 py-1 font-16">Waiting for Approval!</span>
            }
            }
            </div>
            </div>
            </div>
            <div class="card-body pt-0">
            <div class="row gy-1">
            <div class="col-6">
            <h6 class="m-0 font-16 fw-normal">
            Buyer
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
            @(item.BarrowersInformationModel?.Name ?? "")
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-normal">
            Developer
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
            @(item.CollateralInformationModel?.DeveloperName ?? "")
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-normal">
            Unit
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
            @(item?.CollateralInformationModel?.LotUnitNumber ?? 0)
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-normal">
            Date Submitted
            </h6>
            </div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
            @(item.ApplicantsPersonalInformationModel?.DateCreated.ToString("yyyy-MM-dd") ?? "")
            </h6>
            </div>
            <div class="col-12"></div>
            <div class="col-12"></div>
            <div class="col-12"></div>
            <div class="col-6">
            <h6 class="m-0 font-16 fw-normal">
            Documents
            </h6>
            </div>
            <div class="col-6">
            @{
            var totalDocuments = item.ApplicationSubmittedDocumentModels?.Count ?? 0;
            var totalSubmittedDocuments = item.ApplicationSubmittedDocumentModels?.Count(x => x.TotalUploadedDocuments != 0) ?? 0;
            if (totalDocuments == totalSubmittedDocuments)
            {
            <h6 class="m-0 font-16 fw-semibold text-truncate text-success">
            Submitted
            </h6>
            }
            else if (totalSubmittedDocuments == 0)
            {
            <h6 class="m-0 font-16 fw-semibold text-truncate text-danger">
            Not Submitted
            </h6>
            }
            else
            {
            <h6 class="m-0 font-16 fw-semibold text-truncate text-warning">
            Incomplete
            </h6>
            }
            }

            </div>
            <div class="col-12"></div>
            <div class="col-12"></div>
            <div class="col-12"></div>
            <div class="col-6">
            </div>
            <div class="col-6 text-end p-0">
            <h6 class="m-0 font-16 fw-normal text-truncate text-muted">
            View full details
            <i class="fas fa-arrow-right"></i>
            </h6>
            </div>
            </div>
            </div>
            </div>
            </div>
            } *@

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Setup/Applicants/ApplicantRequestScript.js" asp-append-version="true"></script>
}
