@{
    ViewData["Title"] = "Application Request";
    var items = (List<ApplicantViewModel>)ViewBag.items;
}





<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="card card-outline rounded-4">
    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">
        <div class="row gy-2">
            <div class="col-12">



                <div class="row">
                    <div class="col-md-6 mb-2 align-items-md-center">
                        <button class="btn btn-light btn-sm waves-effect" id="btn_add"><span class="mdi mdi-plus"></span> Add</button>
                        <button class="btn btn-light btn-sm waves-effect" id="btn_edit" disabled><span class="mdi mdi-square-edit-outline"></span> Edit</button>
                        <button class="btn btn-light btn-sm waves-effect" id="btn_view" disabled><span class="mdi mdi-square-edit-outline"></span> View</button>
                        <button class="btn btn-light btn-sm waves-effect" id="btn_refresh" bound="tbl_applicants"><span class="mdi mdi-refresh"></span> Refresh</button>
                    </div>


                    <div class="col-md-6 mb-2">
                        <div class="input-group float-end" style="width:250px;">
                            <input bound="tbl_applicants" type="search" class="form-control form-control-sm" placeholder="Search..." />
                            <span class="input-group-text"><i class="fe-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12">
                <table class="table table-sm table-bordered nowrap w-100" id="tbl_applicants">
                    <thead class="table-light text-center">
                        <tr>
                            <th>Applicant Name</th>
                            <th>Application Code</th>
                            <th>Housing Account Number</th>
                            <th>Pagibig Number</th>
                            <th>Date Applied</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row gy-4" hidden>
    <div class="col-xl-6">
        <div class="input-group float-start" style="width:350px;">
            <input bound="tbl_module" type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-text"><i class="fe-search"></i></span>
        </div>
    </div>
    <div class="col-xl-6">
        @*         <a type="button" asp-controller="Applicants" asp-action="HLF068" class="btn btn-light float-end waves-effect waves-light">
        <i class="fas fa-user-plus me-1"></i>
        Add Beneficiary
        </a> *@
    </div>
    <div class="col-xl-12">
        <div class="row application-container">
            @foreach (var item in items)
            {
                <div class="col-xxl-4">
                    <div class="card rounded-4 beneficiary-card">
                        <div class="card-header rounded-4 rounded-bottom">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0 font-16 fw-semibold">
                                        Application @(item.ApplicantsPersonalInformationModel?.Code ?? "")
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    @{
                                        var validationIds = new[] { item.LoanParticularsInformationModel?.Id ?? 0, item.CollateralInformationModel?.Id ?? 0, item.BarrowersInformationModel?.Id ?? 0, item.SpouseModel?.Id ?? 0 };
                                        if (validationIds.Any(x => x == 0))
                                        {
                                            <span class="badge text-bg-danger rounded-4 px-3 py-1 font-16">Incomplete Details!</span>
                                        }
                                        else
                                        {
                                            <span class="badge text-bg-warning rounded-4 px-3 py-1 font-16">Waiting for Approval!</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row gy-1">
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-normal">
                                        Buyer
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
                                        @(item.BarrowersInformationModel?.Name ?? "")
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-normal">
                                        Developer
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
                                        @(item.CollateralInformationModel?.DeveloperName ?? "")
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-normal">
                                        Unit
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
                                        @(item?.CollateralInformationModel?.LotUnitNumber ?? 0)
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-normal">
                                        Date Submitted
                                    </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-semibold text-dark text-truncate">
                                        @(item.ApplicantsPersonalInformationModel?.DateCreated.ToString("yyyy-MM-dd") ?? "")
                                    </h6>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-12"></div>
                                <div class="col-12"></div>
                                <div class="col-6">
                                    <h6 class="m-0 font-16 fw-normal">
                                        Documents
                                    </h6>
                                </div>
                                <div class="col-6">
                                    @{
                                        var totalDocuments = item.ApplicationSubmittedDocumentModels?.Count ?? 0;
                                        var totalSubmittedDocuments = item.ApplicationSubmittedDocumentModels?.Count(x => x.TotalUploadedDocuments != 0) ?? 0;
                                        if (totalDocuments == totalSubmittedDocuments)
                                        {
                                            <h6 class="m-0 font-16 fw-semibold text-truncate text-success">
                                                Submitted
                                            </h6>
                                        }
                                        else if (totalSubmittedDocuments == 0)
                                        {
                                            <h6 class="m-0 font-16 fw-semibold text-truncate text-danger">
                                                Not Submitted
                                            </h6>
                                        }
                                        else
                                        {
                                            <h6 class="m-0 font-16 fw-semibold text-truncate text-warning">
                                                Incomplete
                                            </h6>
                                        }
                                    }

                                </div>
                                <div class="col-12"></div>
                                <div class="col-12"></div>
                                <div class="col-12"></div>
                                <div class="col-6">
                                </div>
                                <div class="col-6 text-end p-0">
                                    <h6 class="m-0 font-16 fw-normal text-truncate text-muted">
                                        View full details
                                        <i class="fas fa-arrow-right"></i>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Setup/Applicants/ApplicantRequestScript.js" asp-append-version="true"></script>
}
