@using DMS.Domain.Enums
@inject DMS.Application.Services.ICurrentUserService _currentUserService
@inject DMS.Application.Interfaces.Setup.UserRepository.IUserRoleRepository _userRoleRepo
@inject DMS.Application.Interfaces.Setup.RoleRepository.IRoleRepository _roleRepo;
@model ApplicantViewModel
@{
    string title = "Application Details - " + Model.ApplicantsPersonalInformationModel.Code;

    ViewData["Title"] = title;
    ViewData["Breadcrumbs"] = "Details";
    var currentUserId = _currentUserService.GetCurrentUserId();
    var currentUserRole = await _userRoleRepo.GetUserRoleAsync(currentUserId);

    var roleInfo = await _roleRepo.GetByIdAsync(currentUserRole.RoleId);
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="card card-outline rounded-4">

    <div class="overlay dark d-none" id="beneficiary-overlay">
        <span class="spinner-border spinner-border-lg"></span>
    </div>

    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">

        <div class="row gy-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <h3 class="align-items-center">
                            <span class="fw-bold font-28 me-2">@Model.ApplicantsPersonalInformationModel.Code</span>
                            <input hidden id="txt_applicantCode" value="@Model.ApplicantsPersonalInformationModel.Code" />
                            @if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Draft)
                            {
                                <span class="badge bg-secondary ms-auto fs-9">Application in Draft</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigVerified)
                            {
                                <span class="badge bg-darkgreen ms-auto fs-9">PAG-IBIG Verified</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Withdrawn)
                            {
                                <span class="badge bg-warning ms-auto fs-9">Withdrawn</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Submitted)
                            {
                                <span class="badge bg-primary ms-auto fs-9">Submitted</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperVerified)
                            {
                                <span class="badge bg-lightgreen ms-auto fs-9">Developer Verified</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Deferred)
                            {
                                <span class="badge bg-danger ms-auto fs-9">@(Model.ApplicantsPersonalInformationModel.ApplicationStatus)</span>
                            }


                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PostSubmitted)
                            {
                                <span class="badge bg-primary ms-auto fs-9">@(Model.ApplicantsPersonalInformationModel.ApplicationStatus)</span>
                            }

                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperConfirmed)
                            {
                                <span class="badge bg-lightgreen ms-auto fs-9">@(Model.ApplicantsPersonalInformationModel.ApplicationStatus)</span>
                            }

                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigConfirmed)
                            {
                                <span class="badge bg-darkgreen ms-auto fs-9">@(Model.ApplicantsPersonalInformationModel.ApplicationStatus)</span>
                            }


                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Disqualified)
                            {
                                <span class="badge bg-danger ms-auto fs-9">@(Model.ApplicantsPersonalInformationModel.ApplicationStatus)</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Discontinued)
                            {
                                <span class="badge bg-warning ms-auto fs-9">Withdrawn</span>
                            }
                            else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.ForResubmition)
                            {
                                <span class="badge bg-teal ms-auto fs-9">For Resubmission</span>
                            }

                            <input asp-for="ApplicantsPersonalInformationModel.Code" class="form-control" placeholder="Transaction No." readonly hidden />
                            <input asp-for="ApplicantsPersonalInformationModel.Id" class="form-control" placeholder="Id" readonly hidden />
                            <input asp-for="ApplicantsPersonalInformationModel.ApprovalStatus" class="form-control" readonly hidden />
                        </h3>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="d-flex justify-content-end align-items-center gap-1">
                            @{
                                if (currentUserId == Model.ApplicantsPersonalInformationModel.UserId)
                                {
                                    @if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Draft)
                                    {
                                        @if (Model.ApplicantsPersonalInformationModel.isRequiredDocumentsUploaded == true)
                                        {

                                            <button type="button" class="btn btn-info waves-effect waves-light" id="btnSubmitApplication" data-value="@((int)AppStatusType.Submitted)" disabled>
                                                <i class="fe-send me-1"></i> <span>Submit Application</span>
                                            </button>

                                        }
                                        else

                                        {



                                            <button type="button" class="btn btn-info waves-effect waves-light" id="btnSubmitApplication" data-value="@((int)AppStatusType.Submitted)">
                                                <i class="fe-send me-1"></i> <span>Submit Application</span>
                                            </button>





                                        }




                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Submitted)
                                    {
                                        <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Withdrawn)">
                                            <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                        </button>
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PostSubmitted)
                                    {


                                        <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Discontinued)">
                                            <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                        </button>
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigVerified)
                                    {
                                        @if (Model.ApplicantsPersonalInformationModel.isRequiredDocumentsUploaded == true)

                                        {

                                            <button type="button" class="btn btn-info waves-effect waves-light" id="btnSubmitApplication" data-value="@((int)AppStatusType.PostSubmitted)" disabled>
                                                <i class="fe-send me-1"></i> <span>Submit Application</span>
                                            </button>

                                            <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Discontinued)">
                                                <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                            </button>
                                        }
                                        else

                                        {
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="btnSubmitApplication" data-value="@((int)AppStatusType.PostSubmitted)">
                                                <i class="fe-send me-1"></i> <span>Submit Application</span>
                                            </button>




                                            <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Discontinued)">
                                                <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                            </button>
                                        }
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperVerified)
                                    {
                                        <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Withdrawn)">
                                            <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                        </button>
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperConfirmed)
                                    {
                                        <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Withdrawn)">
                                            <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                        </button>
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigConfirmed)
                                    {
                                        <button type="button" class="btn btn-warning waves-effect waves-light" id="btnWithdraw" data-value="@((int)AppStatusType.Withdrawn)">
                                            <i class="mdi mdi-book-cancel-outline me-1"></i> <span>Withdraw Application</span>
                                        </button>
                                    }
                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.ForResubmition)
                                    {
                                        <button type="button" class="btn btn-info waves-effect waves-light" id="btnSubmitApplication" data-value="@((int)AppStatusType.Submitted)">
                                            <i class="fe-send me-1"></i> <span>Submit Application</span>
                                        </button>
                                    }
                                }
                                else if ((currentUserRole.RoleId == (int)PredefinedRoleType.Developer || currentUserRole.RoleId == (int)PredefinedRoleType.Lgu) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Submitted)
                                {
                                    <button type="button" class="btn btn-success waves-effect waves-light" id="btnApprove" data-value="@((int)AppStatusType.DeveloperVerified)">
                                        <i class="fe-check-square me-1"></i> <span>Approve</span>
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.Deferred)">
                                        <i class="fe-x-circle me-1"></i> <span>Defer</span>
                                    </button>
                                    <button type="button" class="btn btn-warning waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.ForResubmition)">
                                        <i class="fe-repeat me-1"></i><span>Return</span>
                                    </button>
                                }


                                else if (currentUserRole.RoleId == (int)PredefinedRoleType.Pagibig && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperVerified)
                                {
                                    <button type="button" class="btn btn-success waves-effect waves-light" id="btnApprove" data-value="@((int)AppStatusType.PagibigVerified)">
                                        <i class="fe-check-square me-1"></i> <span>Approve</span>
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.Deferred)">
                                        <i class="fe-x-circle me-1"></i> <span>Defer</span>
                                    </button>

                                    <button type="button" class="btn btn-warning waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.ForResubmition)">
                                        <i class="fe-repeat me-1"></i><span>Return</span>
                                    </button>
                                }
                                else if ((currentUserRole.RoleId == (int)PredefinedRoleType.Developer || currentUserRole.RoleId == (int)PredefinedRoleType.Lgu) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PostSubmitted)
                                {
                                    <button type="button" class="btn btn-success waves-effect waves-light" id="btnApprove" data-value="@((int)AppStatusType.DeveloperConfirmed)">
                                        <i class="fe-check-square me-1"></i> <span>Approve</span>
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.Disqualified)">
                                        <i class="fe-x-circle me-1"></i> <span>Defer</span>
                                    </button>

                                    <button type="button" class="btn btn-warning waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.ForResubmition)">
                                        <i class="fe-repeat me-1"></i><span>Return</span>
                                    </button>
                                }
                                else if (currentUserRole.RoleId == (int)PredefinedRoleType.Pagibig && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperConfirmed)
                                {
                                    <button type="button" class="btn btn-success waves-effect waves-light" id="btnApprove" data-value="@((int)AppStatusType.PagibigConfirmed)">
                                        <i class="fe-check-square me-1"></i> <span>Approve</span>
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.Disqualified)">
                                        <i class="fe-x-circle me-1"></i> <span>Defer</span>


                                    </button>


                                    <button type="button" class="btn btn-warning waves-effect waves-light" id="btnDefer" data-value="@((int)AppStatusType.ForResubmition)">
                                        <i class="fe-repeat me-1"></i><span>Return</span>
                                    </button>
                                }
                            }
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="overlay dark d-none" id="applicant-overlay">
                                <span class='spinner-border spinner-border-lg'></span>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>Buyer</h4>
                                            <div class="product">
                                                <h3 class="fw-bold"> @Model.BarrowersInformationModel.Name</h3>
                                                <p>@Model.BarrowersInformationModel.MobileNumber</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Unit</h4>
                                            <div class="product">
                                                <h3 class="fw-bold">
                                                    @(Model.BarrowersInformationModel.PropertyUnitLevelName ?? "N/A")
                                                </h3>
                                                <p>@(Model.BarrowersInformationModel.PropertyLocation ?? "N/A")</p>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Developer</h4>
                                            <div class="product">
                                                <h3 class="fw-bold">@(Model.BarrowersInformationModel.PropertyDeveloperName ?? "N/A")</h3>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <input id="applicationId" value="@Model.ApplicantsPersonalInformationModel.Id" hidden />
                        <input id="txt_stageNo" value="@Model.ApplicantsPersonalInformationModel.StageNo" hidden />
                        <div class="card">
                            <div class="card-body">
                                <div class="col-xl-12">
                                    <h4 class="header-title"></h4>
                                    <p class="text-muted font-14 mb-3">
                                    </p>

                                    <ul class="nav nav-tabs nav-bordered mb-3" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a href="#home-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active" aria-selected="true" role="tab">
                                                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                <span class="d-none d-md-block">General Info</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" hidden>
                                            <a href="#profile-b1" data-bs-toggle="tab" aria-expanded="true" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
                                                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Buyer</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a href="#settings-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link position-relative" aria-selected="false" role="tab" tabindex="-1">


                                                <span class="position-absolute top-0 end-0 translate-middle-y pe-3">

                                                    @if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == 4 || Model.ApplicantsPersonalInformationModel.ApprovalStatus >= 6 && Model.ApplicantsPersonalInformationModel.ApprovalStatus != 11)
                                                    {
                                                        <i class="mdi mdi-check-circle text-success me-0"> Verified</i>
                                                    }
                                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == 2)
                                                    {
                                                        <i class="mdi mdi-alert-circle text-danger me-0"> Deferred</i>
                                                    }

                                                </span>

                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Credit Attachments</span>
                                            </a>
                                        </li>
                                        <!-- New tabs -->
                                        <li class="nav-item" role="presentation">
                                            <a href="#tab4" data-bs-toggle="tab" aria-expanded="false" class="nav-link position-relative" aria-selected="false" role="tab" tabindex="-1">

                                                <span class="position-absolute top-0 end-0 translate-middle-y pe-3">

                                                    @if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigConfirmed)
                                                    {
                                                        <i class="mdi mdi-check-circle text-success me-0"> Verified</i>
                                                    }
                                                    else if (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Disqualified)
                                                    {
                                                        <i class="mdi mdi-alert-circle text-danger me-0"> Deferred</i>
                                                    }

                                                </span>

                                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                                <span class="d-none d-md-block">Application Attachments</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" hidden>
                                            <a href="#tab5" data-bs-toggle="tab" aria-expanded="false" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
                                                <span class="d-none d-md-block">Unit</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" hidden>
                                            <a href="#tab6" data-bs-toggle="tab" aria-expanded="false" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
                                                <span class="d-none d-md-block">Timeline</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="home-b1" role="tabpanel">
                                            <div class="row">

                                                <div class="col-md-6">

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Last Name:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.LastName</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Middle Name:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.MiddleName</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">First Name:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.FirstName</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Email:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.Email</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Residence:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.PresentBaranggayName @Model.BarrowersInformationModel.PresentMunicipalityName @Model.BarrowersInformationModel.PresentProvinceName</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row align-items-center">
                                                        <label class="col-md-3 text-md-end">Current Stage:</label>
                                                        <div class="col-md-9">
                                                            @if (Model.ApplicantsPersonalInformationModel.StageNo == 1)
                                                            {
                                                                <h3 class="badge bg-darkorange ms-auto font-14" id="header_remarks">@Model.ApplicantsPersonalInformationModel.Stage</h3>
                                                            }
                                                            else if (Model.ApplicantsPersonalInformationModel.StageNo == 2 && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigConfirmed)
                                                            {
                                                                <h3 class="badge bg-darkgreen ms-auto font-14" id="header_remarks">@Model.ApplicantsPersonalInformationModel.Stage</h3>
                                                            }
                                                            else
                                                            {
                                                                <h3 class="badge bg-primary ms-auto font-14" id="header_remarks">@Model.ApplicantsPersonalInformationModel.Stage</h3>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Birth Date:</label>
                                                        <div class="col-md-9">
                                                            <p>@(Model.BarrowersInformationModel.BirthDate?.ToString("MM/dd/yyyy") ?? "")</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Marital Status:</label>
                                                        <div class="col-md-9">
                                                            <p>@Model.BarrowersInformationModel.MaritalStatus</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Employment Status:</label>
                                                        <div class="col-md-9">
                                                            <p></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-md-3 text-md-end">Monthly Salary:</label>
                                                        <div class="col-md-9">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="profile-b1" role="tabpanel">
                                            <p>Content for Profile tab.</p>
                                        </div>
                                        <div class="tab-pane" id="settings-b1" role="tabpanel">

                                            @if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperVerified || Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigVerified))
                                            {
                                                <h3 class="badge bg-yellowgreen ms-auto font-14" id="header_remarks">
                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole  Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }
                                            else if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Deferred)
                                            {
                                                <h3 class="badge bg-danger ms-auto font-14" id="header_remarks">

                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }else if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.ForResubmition)
                                            {
                                                <h3 class="badge bg-teal ms-auto font-14" id="header_remarks">
                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }

                                            <div class="col-md-12">
                                                <div class="row" id="div_verification"> </div>
                                            </div>
                                        </div>
                                        <!-- New tab content -->
                                        <div class="tab-pane" id="tab4" role="tabpanel">

                                            @if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && (Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.DeveloperConfirmed || Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.PagibigConfirmed))

                                            {
                                                <h3 class="badge bg-yellowgreen ms-auto font-14" id="header_remarks">
                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }
                                            else if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.Disqualified)
                                            {
                                                <h3 class="badge bg-yellowgreen ms-auto font-14" id="header_remarks">
                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }else if (!string.IsNullOrEmpty(Model.ApplicantsPersonalInformationModel.Remarks) && Model.ApplicantsPersonalInformationModel.ApprovalStatus == (int)AppStatusType.ForResubmition)
                                            {
                                                <h3 class="badge bg-teal ms-auto font-14" id="header_remarks">
                                                    <span id="span_remarks">@Model.ApplicantsPersonalInformationModel.ApproverRole Remarks: <i>@Model.ApplicantsPersonalInformationModel.Remarks</i></span>
                                                </h3>
                                            }

                                            <div class="col-md-12">
                                                <div class="row" id="div_application"></div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab5" role="tabpanel">
                                            <p>Content for Tab 5.</p>
                                        </div>
                                        <div class="tab-pane" id="tab6" role="tabpanel">
                                            <p>Content for Tab 6.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<div id="approver-modal" class="modal fade" ttabindex="-1" role="dialog" aria-labelledby="approver-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="overlay" id="approver-modal-overlay" hidden>
                <span class='spinner-border spinner-border-lg'></span>
            </div>
            <div class="modal-header bg-soft-light border-bottom">
                <h4 class="modal-title" id="approver-modalLabel"><span class="mdi mdi-plus"></span> Add Vendor</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="SaveApprovalLevel" asp-controller="Approval" asp-antiforgery="true" method="post" role="form" id="frm_approver_level">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="ApprovalLevel.Id" type="hidden" />
                    <input asp-for="ApprovalLevel.ApprovalStatusId" type="hidden" />
                    <input asp-for="ApprovalLevel.Status" type="hidden" />
                    <input asp-for="ApprovalLevel.ModuleCode" type="hidden" />
                    <input asp-for="ApprovalLevel.TransactionId" type="hidden" />
                    <div class="mb-2">
                        <label asp-for="ApprovalLevel.TransactionNo"></label>
                        <input asp-for="ApprovalLevel.TransactionNo" class="form-control" placeholder="Transaction No." readonly />
                        <span asp-validation-for="ApprovalLevel.TransactionNo" class="text-danger"></span>
                    </div>
                    <div class="mb-2" id="action-container">
                        <label asp-for="ApprovalLevel.Remarks"></label>
                        <textarea asp-for="ApprovalLevel.Remarks" class="form-control" placeholder="Remarks"></textarea>
                    </div>
                    <div class="mb-2">
                        <span class="font-12 text-muted">Author: @roleInfo.Name</span>
                    </div>
                </div>
                <div class="modal-footer bg-soft-light border-top">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="btn_close">Close</button>
                    <button type="submit" id="btn_save" class="btn btn-primary"><span class="fas fa-thumbs-up"></span> Approve</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @*     @await Html.PartialAsync("_ApproverModal", Model.ApprovalLevel) *@
    <script src="~/js/validation.bundle.js"></script>
    <script src="~/js/Setup/Applicants/ApplicantDetailScripts.js" asp-append-version="true"></script>

}
