@inject IStringLocalizer<SharedResources> localizer
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                &copy; @DateTime.Now.Year - @ViewData["MainTitle"] - eiDOCS (Version @GetType().Assembly.GetName().Version.ToString())
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="https://mnleistung.ph/aboutus/">@localizer["About"]</a>
                    <a href="https://mnleistung.ph/services">@localizer["Services"]</a>
                    <a href="https://mnleistung.ph/contactus/">@localizer["Contact Us"]</a>
                </div>
            </div>
        </div>
    </div>
</footer>