@using Microsoft.AspNetCore.Hosting
@using DMS.Application.Services
@using DMS.Web.Controllers.Services
@inject IStringLocalizer<SharedResources> localizer
@inject ICurrentUserService _currentUser;
@inject IFtpDownloaderService _ftpDownloaderService;
@{
    ViewData["MainTitle"] = localizer["eiDOC"];
    var users = await _currentUser.GetUserInfo();
    ViewData["Profile"] = "/images/user/default.png";
    ViewData["Position"] = users.Position;
    ViewData["Name"] = users.Name;
    if (!string.IsNullOrWhiteSpace(users.ProfilePicture))
    {
        var profile = System.IO.Path.Combine("/images", "user", users.ProfilePicture);
        if (System.IO.File.Exists(profile))
        ViewData["Profile"] = profile;
    }


}

<!DOCTYPE html>
<html lang="en" layout-setup="full">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | @ViewData["MainTitle"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="MNLeistung.de" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favico.png">

    <!-- Thirdparty css -->
    @RenderSection("Links", false)

    <link rel="stylesheet" href="~/css/datatables.bundle.css" id="app-style" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.thirdparty.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/hypertheme.css" asp-append-version="true" rel="stylesheet" />
</head>

<body>
    <input type="hidden" id="txtBaseUrl" value="@(@Url.Content("~"))/" />
    <div id="Layout-defaultLogo" hidden>@Url.Content("~/images/JuanTahananAssets/Logo/JuanTahananLogo.png")</div>


    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Topbar Start ========== -->
        <partial name="_Topbar" />
        <!-- ========== Topbar End ========== -->
        <!-- ========== Horizontal Menu Start ========== -->
        <partial name="_Sidebar" />
        <!-- ========== Horizontal Menu End ========== -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">


                           

                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                       @*  @html.raw(viewdata["breads"])
                                        <li class="breadcrumb-item active">@ViewData[""]</li> *@


                                        <li class="breadcrumb-item active"><a href="/">Dashboard</a></li>
                                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">@ViewData["Title"]</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="content-layer-page">
                        <!-- Pre-loader -->
                        <div id="preloader">
                            <div id="status">
                                <div class="bouncing-loader"><div></div><div></div><div></div></div>
                            </div>
                        </div>
                        <!-- End Preloader-->
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- content -->
            <!-- Footer Start -->
            @*             <partial name="_Footer" />
            <!-- end Footer --> *@
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->
    <!-- Theme Settings -->
    <partial name="_ThemeSettings" />

    <!-- Thirdparty js -->
    <script src="~/js/site.thirdparty.bundle.js" asp-append-version="true"></script>
    <script src="~/js/datatables.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/longRunningTask.js" asp-append-version="true"></script>
    <script src="~/js/sessionChecker.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/uploader.js" asp-append-version="true"></script>
    <script src="~/js/validation.bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)

</body>

</html>