@model UserViewModel

@{
    ViewData["Title"] = "Profile";
}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="card card-outline rounded-4">
    <div class="card-body rounded-4 rounded-bottom bg-transparent border rounded border-theme-warning border-4 border-bottom-0 border-end-0 border-start-0">
<div class="row">
    <div class="col-sm-3 mb-2 mb-sm-0">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <i class="mdi mdi-shield-account"></i> Profile Settings
                    </h5>
                </div>
                <p class="mb-1">You can update your basic profile information here...</p>
            </a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <i class="mdi mdi-shield-key"></i> Password
                    </h5>
                </div>
                <p class="mb-1">Strengthen your account security by keeping your password up-to-date...</p>
            </a>
           
        </div>
    </div> <!-- end col-->

    <div class="col-sm-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade active show pt-0" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="card">
                    <div class="card-body">
                        <h3 class="header-title">Profile Settings</h3>
                        <p class="text-muted">Update your avatar, basic profile information and account email here.</p>
                        <form asp-action="SaveUser" asp-antiforgery="true" method="post" role="form" id="frm_user" enctype="multipart/form-data">
                            <input type="hidden" asp-for="User.Id" />
                            <h4 class="header-title pb-2 mb-2 border-bottom-dashed">Avatar</h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="avatar-upload" data-toggle="tooltip" title="Profile Picture">
                                        <div class="avatar-edit">
                                            <input asp-for="User.ProfilePictureFile" accept=".png, .jpg, .jpeg" />
                                            <label for="User_ProfilePictureFile"></label>
                                            <span asp-validation-for="User.ProfilePictureFile" class="text-danger"></span>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url(../../Images/UserProfiles/default.png);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-7 d-flex">
                                    <div class="card flex-fill" style="border: 1px solid #d2d6de">
                                        <div class="card-header mb-0 pb-0 mt-1">
                                            <h4 class="header-title border-bottom-dashed">Personal Information</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col-md-3">
                                                    <label asp-for="User.Prefix" class="form-label"></label>
                                                    <input asp-for="User.Prefix" class="form-control" placeholder="Prefix" />
                                                    <span asp-validation-for="User.Prefix" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-9">
                                                    <label asp-for="User.FirstName" class="form-label"></label>
                                                    <input asp-for="User.FirstName" class="form-control" placeholder="First name" />
                                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="mb-2">
                                                <label asp-for="User.MiddleName" class="form-label"></label>
                                                <input asp-for="User.MiddleName" class="form-control" placeholder="Middle name" />
                                                <span asp-validation-for="User.MiddleName" class="text-danger"></span>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-md-9">
                                                    <label asp-for="User.LastName" class="form-label"></label>
                                                    <input asp-for="User.LastName" class="form-control" placeholder="Last name" />
                                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label asp-for="User.Suffix" class="form-label"></label>
                                                    <input asp-for="User.Suffix" class="form-control" placeholder="Suffix" />
                                                    <span asp-validation-for="User.Suffix" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div>
                                                <label asp-for="User.Gender" class="form-label"></label>
                                                <select class="form-control selectize" asp-for="User.Gender" asp-items="@(new SelectList(Model.User.Genders, "Description", "Description"))" data-value="@Model.">
                                                    <option value="">Select Gender...</option>
                                                </select>
                                                <span asp-validation-for="User.Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex">
                                    <div class="card flex-fill" style="border: 1px solid #d2d6de">
                                        <div class="card-header mb-0 pb-0 mt-1">
                                            <h4 class="header-title border-bottom-dashed">Account Information</h4>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <label asp-for="User.UserName" class="form-label"></label>
                                                <input asp-for="User.UserName" class="form-control" placeholder="Username" />
                                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                                            </div>
                                            <div hidden>
                                                <label asp-for="User.Password" class="form-label"></label>
                                                <div class="input-group input-group-merge">
                                                    <input asp-for="User.Password" class="form-control" placeholder="Password" />
                                                    <div class="input-group-text" data-password="false">
                                                        <span class="password-eye"></span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="User.Password" class="text-danger"></span>
                                            </div>
                                            <div class="mt-2">
                                                <label asp-for="User.Email" class="form-label"></label>
                                                <input asp-for="User.Email" class="form-control" placeholder="sample@email.com" />
                                                <span asp-validation-for="User.Email" class="text-danger"></span>

                                            </div>
                                            <hr class="m-1" />
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <label asp-for="User.Position" class="form-label"></label>
                                                    <input asp-for="User.Position" class="form-control" placeholder="Position" />
                                                    <span asp-validation-for="User.Position" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-5">
                                                    <label asp-for="User.UserRoleId" class="form-label"></label>
                                                    <select class="form-control" asp-for="User.UserRoleId">
                                                        <option value="">Select Role...</option>
                                                    </select>
                                                    <span asp-validation-for="User.UserRoleId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <div class="form-check">
                                                    <input asp-for="User.IsDisabled" class="form-check-input" value="true" />
                                                    <label asp-for="User.IsDisabled" class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="avatar-upload-rectangle mt-2" data-toggle="tooltip" title="Signature">
                                <div class="avatar-edit-rectangle">
                                    <input asp-for="User.SignatureFile" accept=".png, .jpg, .jpeg" />
                                    <label for="User_SignatureFile"></label>
                                    <span asp-validation-for="User.SignatureFile" class="text-danger"></span>
                                </div>
                                <div class="avatar-preview-rectangle">
                                    <div id="imagePreview2" style="background-image: url(../../Images/UserSignatures/default.png);"></div>
                                </div>
                            </div>

                            <div class="text-end mt-3">
                                <button type="submit" id="btn_save_user" class="btn btn-primary"> <span class="mdi mdi-content-save-outline"></span> Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade pt-0" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="card">
                    <div class="card-body">
                        <h3 class="header-title">Password Settings</h3>
                        <p class="text-muted">Please supply your current password and confirm your desired new password to proceed.</p>

                        <form asp-action="ChangePassword" asp-antiforgery="true" method="post" role="form" id="frm_change_pass">
                            <input asp-for="ChangePassword.UserId" type="hidden" />
                            <input asp-for="ChangePassword.Username" type="hidden" />
                            <div class="row mb-2">
                                <label asp-for="ChangePassword.CurrentPassword" class="col-form-label col-md-4"></label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-merge">
                                        <input class="form-control " asp-for="ChangePassword.CurrentPassword" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.CurrentPassword)">
                                        <div class="input-group-text " data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ChangePassword.CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />
                            <div class="row mb-2">
                                <label asp-for="ChangePassword.NewPassword" class="col-form-label col-md-4"></label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-merge">
                                        <input class="form-control " asp-for="ChangePassword.NewPassword" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.NewPassword)">
                                        <div class="input-group-text " data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>

                                    <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label asp-for="ChangePassword.ConfirmPassword" class="col-form-label col-md-4"></label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-merge">
                                        <input class="form-control " asp-for="ChangePassword.ConfirmPassword" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.ConfirmPassword)">
                                        <div class="input-group-text " data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="text-end mt-3">
                                <button type="submit" id="btn_change_pass" class="btn btn-primary"> <span class="mdi mdi-content-save-outline"></span> Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         
        </div> <!-- end tab-content-->
    </div> <!-- end col-->
</div>
</div></div>
@section Links {

}

@section Scripts {
    <script src="~/js/validation.bundle.js"></script>
    <script src="~/js/Setup/User/UserProfileScript.js" asp-append-version="true"></script>
}